modules = ["nodejs-24"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "PORT=8080 pnpm run --filter @workspace/zarumi dev & PORT=8081 pnpm run --filter @workspace/api-server dev"
waitForPort = 8080

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[[ports]]
localPort = 8080
externalPort = 80

[[ports]]
localPort = 8081
externalPort = 8081

[[ports]]
localPort = 21382
externalPort = 3000

[userenv]

[userenv.shared]
VITE_VIDEO_PROXY_BASE_URL = "https://sitescrapingwally.onrender.com"
VITE_FIREBASE_API_KEY = "AIzaSyBD1WqWydMs_rwKsLVI6pqCZ3eB1VEcrLI"
VITE_FIREBASE_AUTH_DOMAIN = "zarumi.firebaseapp.com"
VITE_FIREBASE_PROJECT_ID = "zarumi"
VITE_FIREBASE_STORAGE_BUCKET = "zarumi.firebasestorage.app"
VITE_FIREBASE_MESSAGING_SENDER_ID = "257898204309"
VITE_FIREBASE_APP_ID = "1:257898204309:web:bdeae590b27252adc69f9c"
VITE_TMDB_API_KEY = "803e3b5c72e95531f8c244fe582e461d"
